<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>538934957092-d761tdkubgth7vmd1398uj6mlihoqsjt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538934957092-d761tdkubgth7vmd1398uj6mlihoqsjt</string>
	<key>API_KEY</key>
	<string>AIzaSyC7FNNzBj54lwAWl5oWJ4PCqvB25cOH9nc</string>
	<key>GCM_SENDER_ID</key>
	<string>538934957092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cis399.FinalProject</string>
	<key>PROJECT_ID</key>
	<string>hansel-fe21c</string>
	<key>STORAGE_BUCKET</key>
	<string>hansel-fe21c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:538934957092:ios:e19fa06310dcdedc</string>
	<key>DATABASE_URL</key>
	<string>https://hansel-fe21c.firebaseio.com</string>
</dict>
</plist>